.filterBtn {
  background-color: var(--color-grey-0);
  border-radius: var(--border-radius-sm);
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.44rem 0.8rem;
  transition: all 0.3s;
  border: none;
}
.filterBtn.active {
  background-color: var(--color-brand-600);
  color: var(--color-brand-50);
}
.filterBtn:hover:not(:disabled) {
  background-color: var(--color-brand-600);
  color: var(--color-brand-50);
}
